@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>

<div class="grey-background">
    <div class="container body-content">
        <div class="about-header">
            <div style="float:left;  margin-right: 40px; margin-top: 40px; padding-left: 20px;">
                <img style="border: solid 1px;" src="~/Content/Images/jerome_plunkett.jpg" />
            </div>
            <div>
                <h2>JP Race Cars, Inc</h2>
                <blockquote>
                    JP Race Cars, Inc. has been manufacturing top quality race cars and components since opening its doors in 1995.
                    President Jerome Plunkett has been involved with drag racing since 1986 and continues to build race cars with total perfection one at a time.
                </blockquote>
            </div>
        </div>
    </div>
</div>
<div class="grey-background">
    <div class="container body-content section-spacing about-testimonial-container">
        <h2 class="about-testimonial-header">Testimonials</h2>
        <div class="about-testimonial section-top-spacing">
            <img src="https://dummyimage.com/200x200/" />
            <h2>Project Title - Client Name</h2>
            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </blockquote>
        </div>
        <br style="clear:both;" />
        <div class="about-testimonial section-top-spacing">
            <img src="https://dummyimage.com/200x200/" />
            <h2>Project Title - Client Name</h2>
            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </blockquote>
        </div>
        <br style="clear:both;" />
        <div class="about-testimonial section-top-spacing">
            <img src="https://dummyimage.com/200x200/" />
            <h2>Project Title - Client Name</h2>
            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </blockquote>
        </div>
        <br style="clear:both;" />
    </div>
</div>

@section Scripts {
    @Styles.Render("~/Content/css")
}
