@{
    ViewBag.Title = "Contact Us";
}

<div class="page-top-spacing">
    <div class="contact-map">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2926.413136590317!2d-84.84184838403371!3d42.82188617915848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8822995ee4f8d579%3A0x12724505533fc840!2s11880+E+Grand+River+Ave%2C+Portland%2C+MI+48875!5e0!3m2!1sen!2sus!4v1512966577610" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="section-spacing">
    <h2 class="contact-page-main-header">@ViewBag.Title</h2>
    <div class="contact-info-container">
        <img id="building-img" src="~/Content/Images/shop.jpg" alt="JP Race Cars Inc. Building" />
        <div class="contact-container">
            <h3>Address:</h3>
            <p>
                11880 Grand River Avenue<br />
                Portland, Michigan 48875
            </p>
            <h3>Phone Number:</h3>
            <p>(517) 647-4995</p>
            <h3>Fax:</h3>
            <p>(517) 647-5001</p>
            <h3>Office Hours:</h3>
            <table>
                <tbody>
                    <tr>
                        <td>Monday:</td>
                        <td>9am - 4pm</td>
                    </tr>
                    <tr>
                        <td>Tuesday:</td>
                        <td>9am - 4pm</td>
                    </tr>
                    <tr>
                        <td>Wednesday:</td>
                        <td>9am - 2pm</td>
                    </tr>
                    <tr>
                        <td>Thursday:</td>
                        <td>9am - 4pm</td>
                    </tr>
                    <tr>
                        <td>Friday:</td>
                        <td>9am - 2pm</td>
                    </tr>
                    <tr>
                        <td>Saturday:</td>
                        <td>Closed</td>
                    </tr>
                    <tr>
                        <td>Sunday:</td>
                        <td>Closed</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @Styles.Render("~/Content/css")
}
