@{
    ViewBag.Title = "Contact";
}

<div class="row grey-background section-top-spacing">
    <h2 class="text-center">@ViewBag.Title</h2>
    <div class="contact-map">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2926.413136590317!2d-84.84184838403371!3d42.82188617915848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8822995ee4f8d579%3A0x12724505533fc840!2s11880+E+Grand+River+Ave%2C+Portland%2C+MI+48875!5e0!3m2!1sen!2sus!4v1512966577610" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <hr />
</div>

<div class="row grey-background section-spacing">
    <div class="col-lg-7 contact-shop">
        <img class="img-responsive" src="~/Content/Images/shop.jpg" alt="JP Race Cars Inc. Building" />
    </div>
    <div class="col-lg-5 contact-container">
        <div class="row">
            <h3>Address</h3>
            11880 Grand River Avenue<br />
            Portland, Michigan 48875<br />
            <br />
            <h3>Phone Number:</h3>
            (517) 647-4995<br />
            <h3>Fax</h3>
            (517) 647-5001<br />
        </div>
        <div class="row contact-hours">
            <h3>Office Hours:</h3>
            <ul>
                <li>Monday:</li>
                <li>Tuesday:</li>
                <li>Wednesday:</li>
                <li>Thursday:</li>
                <li>Friday:</li>
                <li>Saturday:</li>
                <li>Sunday:</li>
            </ul>
            <ul>
                <li>9am - 4pm</li>
                <li>9am - 4pm</li>
                <li>9am - 2pm</li>
                <li>9am - 4pm</li>
                <li>9am - 2pm</li>
                <li>Closed</li>
                <li>Closed</li>
            </ul>
        </div>
    </div>
</div>

@section Scripts {
    @Styles.Render("~/Content/css")
}
