
@{
    ViewBag.Title = "TermsOfService";
}

<div class="container body-content page-top-spacing-projects section-spacing">
    <h2 class="terms-page-main-header">Terms Of Service</h2>
    <h3>Last updated: November 21, 2017</h3>
    <p>Please read these Terms of Service carefully before using the http://www.jpracecars.com website operated by JP Race Cars Inc. Your access to and request for service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service. By accessing or using this service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service. Terms of Service created in part by TermsFeed for JP Race Cars Inc.</p>
    <h3>Contact Information</h3>
    <p>When you request to be contacted by us via email, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your request.</p>
    <p>We are responsible for safeguarding the email that you use in your request and it will not be shared with a third-party service. We capture your email for the sole purpose of establishing a contact point in which we can contact you for further discussion around your automotive job request. If you feel as though your email has been breached or is subjected to unauthorized use between the time of your request and your first point of contact with JP Race Cars Inc. please notify us directly by calling (517)647-4995 during open business hours.</p>
    <p>Upon requesting contact, and throughout your online engagement with JP Race Cars Inc., you are expected to be the sole proprietor of the provided email account. If you need to change your provided email for any reason before your initial contact, please just resubmit a new email address using the company website. If you need to change your provided email for any reason after your initial contact, please send us your new address via your old email, or call us during open work hours to give us your new email address.</p>
    <p>If you need to cancel your job request for any given reason, please contact us with the email you used in your proposal by replying to our original contact thread requesting to discontinue the service. We will charge you appropriately for the completed work up to that point, return your assets, and remove your email from our contacts list. </p>
    <h3>Links To Other Web Sites</h3>
    <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by JP Race Cars Inc.</p>
    <p>JP Race Cars Inc. has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that JP Race Cars Inc. shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>
    <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>
    <h3>Governing Law</h3>
    <p>These Terms shall be governed and construed in accordance with the laws of Michigan, United States, without regard to its conflict of law provisions.</p>
    <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>
    <h3>Changes</h3>
    <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
    <p>By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.</p>
    <h3>Contact Us</h3>
    <p>If you have any questions about these Terms, please contact us at<a class="top-bar-text" href="mailto:info@jpracecars.com">info@jpracecars.com</a> or call (517)647-4995.</p>
</div>

@section Scripts {
    @Styles.Render("~/Content/css")
}
