
@{
    ViewBag.Title = "AddImage";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<form method="post" enctype="multipart/form-data">
    <label>AltText</label>
    <br />
    <input type="text" name="text" />
    <br />
    <input type="file" name="file" id="file"/>
    <br />
    <input type="submit" />
</form>

